<div class="card">
    <div class="card-header bg-dark text-white fw-bold">@Card.Name</div>
    <div class="card-body bg-dark-subtle">
        @if(Card.ImageBytes?.Any() == true)
        {
            <img src="@($"data:image/jpeg;base64, {Convert.ToBase64String(@Card.ImageBytes.First())}")"  
                 style="width: 15%" />
        }
    </div>
</div>