@page "/"

<div class="row">
    <div class="col-lg-8 col-xxl-6">
        <div class="card">
            <div class="card-header bg-dark">
                <div class="text-center text-white">
                    <span class="h3">About</span>
                </div>
            </div>
            <div class="card-body bg-dark-subtle">
                <div id="about-section" class="py-2 px-3">
                    <p>
                        I have always been a fan of trading card games.
                        Growing up I didn't have the newest anything but I knew that I had my mom, brother, and yugioh cards.
                        Not even close to being the best, I would try scrape up whatever money I had to build my decks.
                        My mom, she would do the best she could to make us feel special on christmas and birthdays.
                        She would get a couple toy wrestlers and a couple packs of yugioh cards and we were set.
                        I didn't build this site to come up with the best solution for a card database.
                        I built this site to help me remember how lucky I was and for all the other kids that had it rough and used cards to remind them that eveything is going to be okay.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>