@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row justify-content-center align-items-center bg-secondary vh-100">
        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-5 col-sm-6 col-11">
            @Body
        </div>
    </div>
</div>