.navbar-tcg-collapsed {
    width: 150px;
}

#navbar-tcg-logo {
    max-width: 75px;
}

.nav-item-tcg {
    background-color: var(--light-blue);
    padding: 7px;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.8;
}

.nav-icon-tcg {
    color: red;
    background-color: red;
}

.nav-item-tcg:hover {
    opacity: unset;
}