:root {
    --darker-blue: #004455;
    --dark-blue: #006680;
    --light-blue: #87CDDE;
}

.bg-tcg-darker-blue {
    background-color: var(--darker-blue);
}

.bg-tcg-dark-blue {
    background-color: var(--dark-blue);
}

.bg-tcg-light-blue {
    background-color: var(--light-blue);
}

/* BUTTONS */
.btn-tcg-primary {
    color: black;
    background-color: var(--light-blue);
    opacity: 0.8;
}

.btn-tcg-primary:hover {
    opacity: unset;
}

/* OVERWRITE */
.validation-message {
    color: #800000 !important;
}